---
Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  performance-*,
  portability-*,
  modernize-use-nullptr,
  modernize-use-override
WarningsAsErrors: '*'
HeaderFilterRegex: '^(?!.*[\\/]packages[\\/]).*$'
FormatStyle: file
ExtraArgs:
  - '-Wno-unused-command-line-argument'
...
